.App {
  text-align: center;
  width: 100%;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.textMixin(@weight: 500, @size: small) {
  font-weight: @weight;
  font-size: @size;
}
.widthMixin(@width: 70%) {
  width: @width;
}

.largeText {
  .textMixin(700, larger);
}
.mediumText {
  .textMixin(600, large);
}
.smallText {
  .textMixin(600, medium);
}
.smallerText {
  .textMixin;
}
.lgWidth {
  .widthMixin(100%);
}
.mdWidth {
  .widthMixin(90%);
}
.smWidth {
  .widthMixin(80%);
}
.xsWidth {
  .widthMixin;
}
.removeMember {
  padding: 2rem 0;
}
.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.homeImage {
  display: flex;
  justify-content: center;
}
.layoutContent {
  margin-top: 4vh;
}

.contentPaddingLg {
  padding: 0 100px;
}
.contentPaddingMd {
  padding: 0 30px;
}
.contentPaddingSm {
  padding: 0;
}
